<div class="modal-type drives hidden">
  <div class="hdd-title">
    <div class="hdd-mList">
      <div class="hdd-select-wp">
        <span class="hdd-select-label" data-locale="Select Category"></span>
        <div class="empty-tip-gp"></div>
      </div>
      <div class="hdd-select-wp-sub"></div>
      <div class="UpAllLocalDrives-wp CursorPointer" onClick="popupUpAllLocalDrives();">
        <div class="UpAllLocalDrives" data-locale="UpAllLocalDrives">
        </div>
      </div>
    </div>
    <input type="button" name="continue" onClick="onScanDrive();" data-locale='{"valueKey": "Continue"}' class="input-gp hdd-continue" />
  </div>
  <div class="hdd-input-wp">
    <div class="hdd-drive-value">
    </div>
  </div>

  <div class="hdd-list">

  </div>
</div>
